[submodule "openhab2-addons"]
	path = openhab2-addons
	url = ../openhab2-addons
	branch = 2.5.x
[submodule "bindings/org.openhab.binding.zigbee"]
	path = bindings/org.openhab.binding.zigbee
	url = ../org.openhab.binding.zigbee
	branch = 2.5.x
[submodule "org.openhab.binding.zwave"]
	path = bindings/org.openhab.binding.zwave
	url = ../org.openhab.binding.zwave
	branch = 2.5.x
